body { 
  font-family: font-family: "Futura Medium", "Century Gothic", AppleGothic, sans-serif;
  line-height: 1.3;
  color: #333;
}

h1, h2, h3, h4 { 
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  font-size: 1.8em;
}

#left-ribbon {
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0;
}

.subheader {
  margin-top: 0;
  color: #666;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tags-header {
  margin-bottom: 0;
}

.tags {
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 2em;
}

.tags li {
  display: inline;
  margin-right: 0.5em;
  vertical-align: -2em;
  background-color: #eee;
  padding: 0.60em;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border: 1px solid #ddd;
}

.tags li .weak {
  color: #555;
  font-size: 0.9em;
}

.tags li strong {
  font-weight: normal;
  font-size: 1.4em;
}

.tags .prefer {
  background-color: #dfd;
}

.tags .dislike {
  background-color: #fdd;
}

#title {
  text-align: center;
  font-size: 4em;
  color: #777;
}

#quick-links {
  list-style-type: none;
  padding-left: 0.5em;
  width: 25em;
  margin: 2em auto;
  color: #666;
  font-size: 0.9em;
}

#quick-links li a {
  text-decoration: none;
  font-size: 1.1em;
}

.label {
  color: #888;
  display: inline-block;
  width: 6em;
  padding-right: 1em;
  text-align: right;
}

#quick-links li a:hover, #quick-links li a:focus {
  text-decoration: underline;  
}

#content {
  width: 960px;
  margin: 3em auto;
}

.spaced-out {
  line-height: 1.5;
}

.column-wrapper {
  overflow: hidden;
}

.column {
  float: left;
  width: 30%;
  text-align: justify;
  padding: 15px;
}

p em {
  font-style: inherit;
  background-color: #ffd;
  padding: 2px 5px 2px 5px;
  font-size: 1.05em;
  color: #444;
}