body {
  /*font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;*/
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  font-size: 1.05em;
  line-height: 1.4;
}

abbr { border: none; cursor: help; }

h1, h2, h3, h4 {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

h1 { font-size: 2em; font-weight: normal; }
h2 { font-size: 1.8em; font-weight: normal;  }

h3 {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: normal;
}

img {
  border: 0;
}

a { color: #2458bf; }
a:visited { color: #551a8b; }

#left-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

#download-links {
  display: none;
  position: absolute;
  top: 160px;
  right: 0;
  padding: 5px;
  padding-top: 15px;
  background-color: #ffd;
}

#download-links a {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tags-header {
  margin-bottom: 0.5em;
}

.tags {
  font-size: 0.85em;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 2em;
}

.tags li {
  display: inline;
  margin-right: 0.5em;
  vertical-align: middle;
}

.tags li {
/*  -moz-box-shadow: 0px 1px 2px #a2a9ac;
  -webkit-box-shadow: 1px 1px 2px #a2a9ac;
  box-shadow: 0px 1px 2px #a2a9ac;*/

/*  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;*/

  /*border: 1px solid #eee;*/
  /*background-color: #efefef;*/
  border: 1px solid #e2e9ec;
  background-color: #f2f7fa;
  /*border: 1px solid #eed;*/
  /*background-color: #ffffc8;*/
  padding: 0.40em;
  line-height: 2.8em;
}

.tags .weak {
  color: #333;
  font-size: 0.9em;
}

.tags .strong {
  font-weight: normal;
  font-size: 1.2em;
}

.tags .prefer {
  font-size: 1.2em;
  font-weight: bold;
}

.tags .dislike {
  font-size: 0.9em;
}

#title, #title-clone {
  text-align: center;
  font-size: 4em;
  color: #656565;
  /*color: #e74700;*/
  margin-top: 0;
}

#quick-links {
  list-style-type: none;
  padding-left: 0.5em;
  width: 29em;
  margin: 2em auto;
  color: #666;
  font-size: 0.8em;
}

#quick-links li a {
  text-decoration: none;
  font-size: 1.1em;
}


.label {
  color: #888;
  display: inline-block;
  width: 6em;
  padding-right: 1em;
  text-align: right;
}

#quick-links li a:hover, #quick-links li a:focus {
  text-decoration: underline;
}

#content {
  width: 960px;
  margin: 3em auto;
}

.spaced-out {
  line-height: 1.5;
}

.column-wrapper {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
}

.column {
  float: left;
  width: 30%;
  padding-right: 30px;
}

em {
  font-style: inherit;
  /*background-color: #f6faff;*/
  background-color: #ffffd5;
  padding: 2px 4px 2px 4px;
  color: #222;
}

.dtrange {
  text-shadow: none;
  font-weight: normal;
  font-size: 15px;
  margin-left: 0.5em;
  color: #777;
}

#printio-experience-intro {
  margin-top: -1em;
  margin-bottom: 2em;
}

#bitsonnet-experience-intro {
  margin-top: -1em;
  margin-bottom: 2em;
}

.jobs-list li {
  padding: 0.75em 0.5em 0.75em 1em;
  margin-bottom: 1em;
}

.jobs-list li h3 {
  margin-top: 0;
}

.job-description {
  margin: 0.25em 0 0 1em;
  color: #333;
}

#summarize { color: #555; position: absolute; top: 1em; right: 1em; width: 10em; }

#projects-contributed-to { margin-left: 1em; }
#projects-contributed-to li { display: inline; margin-right: 0.5em; line-height: 1.5; }
#projects-contributed-to li a { margin-right: 0.5em; }

/* PRINT MEDIA */

@media print {
  body { color: #000; font-family: Cambria, Georgia, Times, "Times New Roman", serif; font-size: 1.05em; }
  em { font-weight: normal; }
  a:link, a:visited { color: #007; text-decoration: none; }
  .tags li { color: #000; }
  #title { margin-top: -0.5em; font-size: 3em; }
  #left-ribbon { display: none; }
  #summarize { display: none; }
  #download-links { display: none; }
}

/* SMALL SCREEN DEVICES */

@media only screen and (max-device-width: 480px) {
  body { margin: 0; }
  .column { width: auto; padding-right: 0; }
  #title, #title-clone { font-size: 3em; margin-top: 0; }
  #content { width: auto; padding: 0 0.5em 0.5em 0.5em; }
  #left-ribbon { display: none; }
  #quick-links { width: auto; }
  #quick-links li { margin-bottom: 0.25em; padding: 0.25em; }
  #quick-links .label { width: 5em; }
}
