body { 
  font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
  line-height: 1.3;
  font-size: 1.1em;
  color: #333;
}

abbr { border: none; cursor: help; }

h1, h2, h3, h4 { 
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }

h3 {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: normal;
}

#left-ribbon {
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0;
}

.subheader {
  margin-top: 0;
  color: #666;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tags-header {
  margin-bottom: 0.3em;
}

.tags {
  font-size: 0.85em;
  font-family: "courier new";
  margin-top: 0;
  margin-bottom: 2em;
}

.tags li {
  display: inline;
  margin-right: 0.5em;
  vertical-align: middle;
}

.tags li a {
  -moz-box-shadow: 0px 1px 2px #777;
  -webkit-box-shadow: 1px 1px 2px #777;
  background-color: #efefef;
  padding: 0.40em;
  line-height: 2.8em; 
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border: 1px solid #eee;
}

.tags .weak {
  color: #555;
  font-size: 0.9em;
}

.tags .strong {
  font-weight: normal;
  font-size: 1.2em;
}

.tags .prefer {
/*  border-color: #cec;
  background-color: #dfd;*/
  
  font-size: 1.4em;
  font-weight: bold;
}

.tags .dislike {
  font-size: 0.9em;
}

#title {
  text-align: center;
  font-size: 4em;
  color: #777;
}

#quick-links {
  list-style-type: none;
  padding-left: 0.5em;
  width: 25em;
  margin: 2em auto;
  color: #666;
  font-size: 0.9em;
}

#quick-links li a {
  text-decoration: none;
  font-size: 1.1em;
}

.label {
  color: #888;
  display: inline-block;
  width: 6em;
  padding-right: 1em;
  text-align: right;
}

#quick-links li a:hover, #quick-links li a:focus {
  text-decoration: underline;  
}

#content {
  width: 960px;
  margin: 3em auto;
}

.spaced-out {
  line-height: 1.5;
}

.column-wrapper {
  overflow: hidden;
}

.column {
  float: left;
  width: 30%;
  padding-right: 30px;
}

p em {
  font-style: inherit;
  background-color: #ffd;
  padding: 2px 5px 2px 5px;
  color: #444;
}

.dtrange {
  text-shadow: none;
  font-weight: normal;
  font-size: 15px;
  margin-left: 0.5em;
  color: #777;
}

#bitsonnet-experience-intro {
  margin-top: -1em;
  margin-bottom: 2em;
}

.jobs-list li {
  border-left: 8px solid #ddd;
  padding-left: 1em;
}

.job-description {
  margin: 0.25em 0 2em 1em;
  color: #444;
}

/* PRINT MEDIA */

@media print {
  body {
    color: #000;
    font-size: 1.1em;
  }
  
  #title {
    margin-top: 0;
  }
  
  p em {
    background-color: #ccb;
  }
  
  #left-ribbon {
    display: none;
  }
}

/* SMALL SCREEN DEVICES */

@media only screen and (max-device-width: 480px) {
  #content { width: 480px; padding: 10px; }
  .column { width: auto; }
}